%table.table
  %thead
    %tr
      %th= sort_link q, :name, class: "btn btn-link"
      %th= sort_link q, :age, class: "btn btn-link"
      %th
  %tbody
    - dogs.each do |dog|
      %tr
        %td= dog.name
        %td= dog.age
        %td.text-end= link_to '編集', edit_dog_path(dog)
