%table.table
  %thead
    %tr
      %th= sort_link q, :name, class: "btn btn-link"
      %th= sort_link q, :age, class: "btn btn-link"
      %th
  %tbody
    - owls.each do |owl|
      %tr
        %td= owl.name
        %td= owl.age
        %td.text-end= link_to '編集', edit_owl_path(owl)
