%table.table
  %thead
    %tr
      %th= sort_link q, :name, class: "btn btn-link"
      %th= sort_link q, :age, class: "btn btn-link"
      %th
  %tbody
    - hedgehogs.each do |hedgehog|
      %tr
        %td= hedgehog.name
        %td= hedgehog.age
        %td.text-end= link_to '編集', edit_hedgehog_path(hedgehog)
