%table.table
  %thead
    %tr
      %th= sort_link q, :name, class: "btn btn-link"
      %th= sort_link q, :age, class: "btn btn-link"
      %th
  %tbody
    - chicks.each do |chick|
      %tr
        %td= chick.name
        %td= chick.age
        %td.text-end= link_to '編集', edit_chick_path(chick)
