.sidebar
  %ul.nav.flex-column
    %li= link_to 'cats', cats_path, class: 'nav-link text-white'
    %li= link_to 'chicks', chicks_path, class: 'nav-link text-white'
    %li= link_to 'dogs', dogs_path, class: 'nav-link text-white'
    %li= link_to 'headgehogs', hedgehogs_path, class: 'nav-link text-white'
    %li= link_to 'owls', owls_path, class: 'nav-link text-white'
